
<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8' />
<title>Ruby test</title>
</head>
<body>
<h1>this is success page</h1>
<h2>HR的邮箱：<%=@email %></h2>
<h2>你的邮箱：<%=@email2 %></h2>
<h2>you url <%=@url %></h2>
</body>
</html>